In [2]:
import numpy as np
import pandas as pd

In [8]:
h=[12.0,np.nan,13,15,16,np.nan,np.nan]
w=[35.0,36.0,32,np.nan,39,np.nan,np.nan]
c=['India','US','UK','France','US',np.nan,np.nan]
p=['Bengaluru','New York','London','Paris','California','Delhi',np.nan]
n=[1,2,np.nan,4,5,np.nan,6]
s=[np.nan,np.nan,np.nan,np.nan,12.0,np.nan,np.nan]

In [12]:
df=pd.DataFrame({'Height':h,'Weight':w,'Country':c,'Place':p,'Number_of_days':n,'Some_column':s})

In [14]:
df

   Height  Weight Country       Place  Number_of_days  Some_column
0    12.0    35.0   India   Bengaluru             1.0          NaN
1     NaN    36.0      US    New York             2.0          NaN
2    13.0    32.0      UK      London             NaN          NaN
3    15.0     NaN  France       Paris             4.0          NaN
4    16.0    39.0      US  California             5.0         12.0
5     NaN     NaN     NaN       Delhi             NaN          NaN
6     NaN     NaN     NaN         NaN             6.0          NaN

In [ ]:
s